# macOS
.DS_Store
*.Session

# Xcode / iOS build outputs
build/
DerivedData/
*.xcuserstate
*.xcworkspace
*.xcodeproj

# Swift Package Manager
.swiftpm/
.build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# CocoaPods
Pods/
Podfile.lock
